.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

mat-card-content {
  padding: 2em;
}

mat-list-item mat-icon {
  margin: 0 1em;
}

.form-list-item mat-checkbox, .form-list-item mat-form-field:not(:first-of-type) {
  margin: 0 1em;
}