<mat-toolbar color="primary">Testing @tres-erres/ngx-utils</mat-toolbar>

<div class="container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Directives
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form class="form" [formGroup]="form">
				<mat-form-field class="full-width">
					<input formControlName="cbu" matInput placeholder="CBU" cbuMask>
					<mat-error *ngIf="form.controls.cbu.errors?.cbu">CBU inválido</mat-error>
					<mat-error *ngIf="form.controls.cbu.errors?.cbuLength">Debe contener 22 caracteres</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input formControlName="cuit" matInput placeholder="CUIT" cuitMask>
					<mat-error *ngIf="form.controls.cuit.errors?.cuit">CUIT inválido</mat-error>
					<mat-error *ngIf="form.controls.cuit.errors?.cuitLength">Debe contener 13 caracteres</mat-error>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input formControlName="importe" matInput placeholder="Importe" importeMask>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input formControlName="comprobante" matInput placeholder="Comprobante" comprobanteMask>
				</mat-form-field>
				<mat-form-field class="full-width">
					<input formControlName="numero" matInput placeholder="Número" numMask>
				</mat-form-field>
			</form>
		</mat-card-content>
	</mat-card>
	<br>
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				Pipes
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-list role="list">
				<mat-list-item role="listitem">
					<h4>Numform</h4>
				</mat-list-item>
				<mat-list-item role="listitem" [formGroup]="numform" class="form-list-item">
					<mat-form-field>
						<input formControlName="numero" matInput placeholder="Número">
					</mat-form-field>
					<mat-checkbox formControlName="borrarceros">Borrar ceros</mat-checkbox>
					<mat-form-field>
						<input formControlName="sepmil" matInput placeholder="Separador de mil">
					</mat-form-field>
					<mat-form-field>
						<input formControlName="sepdec" matInput placeholder="Separador decimal">
					</mat-form-field>
				</mat-list-item>
				<mat-list-item role="listitem">{{ numform.value.numero | numform: numform.value.borrarceros:numform.value.sepmil:numform.value.sepdec }}</mat-list-item>
			</mat-list>
		</mat-card-content>
	</mat-card>
</div>
