/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    background-color: #fafafa;
}

div.container {
    padding: 3em;
}